In [3]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('dataset.csv')
df.head()
df.fillna(df.mean())

,checkup_no,mahila_code,weight,height,heamoglobin,bmi,tab_iron_quantity,tab_folic_acid_quantity,albendazola_quantity,calcium,...,fever,sugar_before,sugar_after,age,no_of_pregnancies,Unnamed: 29,no_of_deliveries,weight_woman,height_woman,risk
0,25896,23568,99,116,2,9,5,5,8,7,...,No,1,2,36,9,NaN,1,32,169,0
1,25896,23568,76,166,1,5,4,9,4,1,...,Yes,8,9,28,1,NaN,8,99,173,1
2,25896,23568,76,129,2,2,3,4,9,2,...,No,9,3,26,9,NaN,1,32,151,1
3,25896,23568,86,177,10,10,1,6,9,5,...,No,9,8,36,10,NaN,4,44,154,0
4,25896,23568,63,113,2,3,1,8,1,7,...,No,7,10,40,3,NaN,10,86,168,1
5,25896,23568,58,161,9,6,5,1,4,5,...,No,4,2,22,9,NaN,4,94,158,0
6,25896,23568,100,112,3,6,4,4,1,7,...,No,3,8,35,2,NaN,4,72,145,1
7,25896,23568,61,139,9,2,5,2,7,1,...,No,9,1,23,8,NaN,1,89,142,0
8,25896,23568,55,115,9,1,1,6,8,7,...,No,1,4,33,5,NaN,2,61,145,1
9,25896,23568,50,102,7,9,6,7,1,3,...,Yes,3,6,20,7,NaN,5,81,164,1
10,25896,23568,83,143,6,8,8,10,3,7,...,Yes,8,10,35,7,NaN,6,94,152,0
11,25896,23568,74,139,3,3,1,3,5,7,...,Yes,7,7,40,8,NaN,9,100,143,0
12,25896,23568,92,160,6,6,7,4,7,10,...,Yes,1,1,36,3,NaN,10,73,152,0
13,25896,23568,72,100,3,3,7,6,3,1,...,No,2,1,20,8,NaN,2,75,126,1
14,25896,23568,79,126,5,7,7,10,8,6,...,Yes,3,9,25,6,NaN,4,82,136,1
15,25896,23568,61,101,9,9,5,2,1,7,...,No,3,9,24,6,NaN,9,68,158,1
16,25896,23568,96,101,4,7,4,3,4,3,...,No,9,8,34,8,NaN,2,71,141,1
17,25896,23568,68,107,8,8,1,7,5,5,...,No,2,4,40,1,NaN,4,94,126,1
18,25896,23568,95,162,8,10,6,5,5,6,...,Yes,7,4,32,6,NaN,6,64,141,1
19,25896,23568,67,125,5,6,1,3,8,4,...,No,6,7,31,6,NaN,7,72,174,1
20,25896,23568,79,121,7,6,3,6,6,1,...,No,1,6,37,9,NaN,6,67,168,0
21,25896,23568,96,132,3,8,1,2,1,3,...,No,9,6,38,6,NaN,8,36,175,1
22,25896,23568,88,120,3,4,6,3,9,7,...,Yes,1,7,27,10,NaN,9,74,168,0
23,25896,23568,91,135,10,3,1,4,7,2,...,Yes,6,9,31,10,NaN,1,63,130,1
24,25896,23568,71,102,7,2,10,10,2,9,...,Yes,2,3,39,8,NaN,7,56,129,0
25,25896,23568,60,135,6,8,1,4,1,5,...,Yes,3,6,40,4,NaN,4,76,154,1
26,25896,23568,94,155,5,3,1,6,9,4,...,Yes,6,8,39,5,NaN,7,75,145,1
27,25896,23568,98,123,3,5,2,7,10,8,...,Yes,3,7,36,2,NaN,1,39,122,0
28,25896,23568,71,111,2,4,4,8,8,1,...,No,6,8,21,9,NaN,7,78,143,1
29,25896,23568,71,148,2,10,7,5,10,3,...,Yes,9,2,32,6,NaN,7,45,173,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,25896,23568,93,129,3,9,2,3,6,4,...,No,6,10,38,1,NaN,9,78,120,1
71,25896,23568,58,165,3,6,3,4,2,3,...,No,8,2,38,7,NaN,10,70,155,1
72,25896,23568,56,146,9,2,6,2,2,6,...,Yes,5,2,21,3,NaN,8,64,142,1
73,25896,23568,98,120,5,2,5,9,5,10,...,No,7,1,32,5,NaN,8,52,156,1
74,25896,23568,70,134,6,6,9,9,4,10,...,No,1,8,30,7,NaN,10,55,143,0
75,25896,23568,79,151,7,10,6,9,5,8,...,Yes,9,3,29,3,NaN,5,33,125,0
76,25896,23568,75,168,3,7,6,7,7,10,...,Yes,9,8,27,10,NaN,1,98,147,0
77,25896,23568,90,128,8,4,2,4,2,10,...,Yes,9,5,33,10,NaN,8,69,133,0
78,25896,23568,69,136,3,3,7,6,7,2,...,No,8,9,40,7,NaN,2,70,128,1
79,25896,23568,92,151,10,6,6,10,8,8,...,No,6,9,35,9,NaN,2,83,129,0
80,25896,23568,76,107,8,5,5,6,9,5,...,No,10,8,20,5,NaN,3,95,137,1
81,25896,23568,93,139,10,1,10,3,8,9,...,No,1,5,37,7,NaN,9,40,157,0
82,25896,23568,85,169,4,6,1,1,8,10,...,No,6,9,28,4,NaN,9,53,139,1
83,25896,23568,63,171,10,7,2,8,4,9,...,No,10,10,38,2,NaN,9,98,146,0
84,25896,23568,90,178,5,10,8,5,5,10,...,Yes,7,4,27,4,NaN,2,84,147,1
85,25896,23568,80,115,5,4,1,6,8,8,...,Yes,7,8,30,10,NaN,6,75,123,0
86,25896,23568,57,164,10,6,6,4,1,5,...,Yes,1,10,22,4,NaN,10,67,162,1
87,25896,23568,78,140,4,2,7,3,5,8,...,No,6,1,32,6,NaN,6,60,158,0
88,25896,23568,65,100,5,2,4,4,7,6,...,No,8,1,35,8,NaN,10,65,139,1
89,25896,23568,95,124,7,4,3,3,10,6,...,Yes,10,1,35,10,NaN,5,86,169,0
90,25896,23568,63,169,8,10,4,6,5,1,...,No,4,7,32,10,NaN,8,98,148,1
91,25896,23568,64,116,5,6,8,4,1,1,...,No,3,7,32,4,NaN,6,47,127,1
92,25896,23568,57,138,4,6,1,3,4,3,...,No,10,5,29,4,NaN,1,59,179,1
93,25896,23568,54,122,7,3,8,6,5,8,...,Yes,8,3,27,9,NaN,3,89,122,1
94,25896,23568,64,117,1,2,5,8,7,8,...,No,4,6,25,4,NaN,10,90,124,1
95,25896,23568,78,145,10,5,9,10,9,6,...,Yes,7,2,22,6,NaN,7,70,138,0
96,25896,23568,66,133,6,8,2,8,2,10,...,Yes,3,10,25,4,NaN,2,41,137,0
97,25896,23568,95,161,8,5,1,2,6,1,...,Yes,8,3,34,2,NaN,2,57,122,0
98,25896,23568,65,124,10,4,4,6,7,1,...,No,2,6,39,9,NaN,8,37,168,0
99,25896,23568,79,115,5,4,8,6,4,10,...,No,5,8,39,7,NaN,3,59,150,0

In [5]:
df.dtypes

checkup_no                   int64
mahila_code                  int64
weight                       int64
height                       int64
heamoglobin                  int64
bmi                          int64
tab_iron_quantity            int64
tab_folic_acid_quantity      int64
albendazola_quantity         int64
calcium                      int64
vit_D3                       int64
tt1                         object
tt2                         object
stomach_height               int64
child_heartbeat              int64
systolic_bp                  int64
distolic_bp                  int64
urine                       object
urine_albumin               object
urine_sugar                 object
body_swelling               object
DIB                         object
bodypain                    object
vomate                      object
fever                       object
sugar_before                 int64
sugar_after                  int64
age                          int64
no_of_pregnancies            int64
Unnamed: 29                float64
no_of_deliveries             int64
weight_woman                 int64
height_woman                 int64
risk                         int64
dtype: object

In [6]:
df['risk'].value_counts()

1    56
0    44
Name: risk, dtype: int64

In [7]:
cat_vars=['tt1','tt2','urine','urine_albumin','urine_sugar','body_swelling','DIB','bodypain','vomate','fever']
for var in cat_vars:    
    cat_list='var'+'_'+var    
    cat_list = pd.get_dummies(df[var], prefix=var)    
    df1=df.join(cat_list, lsuffix='_left', rsuffix='_right')    
    df=df1

In [8]:
df.head(2)
df.loc[:, ~df.columns.str.contains('^Unnamed: 29')]
df1 = df.drop(df.columns[df.columns.str.contains('Unnamed: 29',case = False)],axis = 1)

In [9]:
cat_vars=['tt1','tt2','urine','urine_albumin','urine_sugar','body_swelling','DIB','bodypain','vomate','fever']
df_vars=df1.columns.values.tolist()
to_keep=[i for i in df_vars if i not in cat_vars]

In [10]:
df_final=df1[to_keep]
df_final.columns.values

array(['checkup_no', 'mahila_code', 'weight', 'height', 'heamoglobin',
       'bmi', 'tab_iron_quantity', 'tab_folic_acid_quantity',
       'albendazola_quantity', 'calcium', 'vit_D3', 'stomach_height',
       'child_heartbeat', 'systolic_bp', 'distolic_bp', 'sugar_before',
       'sugar_after', 'age', 'no_of_pregnancies', 'no_of_deliveries',
       'weight_woman', 'height_woman', 'risk', 'tt1_No', 'tt1_Yes',
       'tt2_No', 'tt2_Yes', 'urine_No', 'urine_Yes', 'urine_albumin_No',
       'urine_albumin_Yes', 'urine_sugar_No', 'urine_sugar_Yes',
       'body_swelling_No', 'body_swelling_Yes', 'DIB_No', 'DIB_Yes',
       'bodypain_No', 'bodypain_Yes', 'vomate_No', 'vomate_Yes',
       'fever_No', 'fever_Yes'], dtype=object)

In [12]:
df1.count()

checkup_no                 100
mahila_code                100
weight                     100
height                     100
heamoglobin                100
bmi                        100
tab_iron_quantity          100
tab_folic_acid_quantity    100
albendazola_quantity       100
calcium                    100
vit_D3                     100
tt1                         70
tt2                        100
stomach_height             100
child_heartbeat            100
systolic_bp                100
distolic_bp                100
urine                      100
urine_albumin              100
urine_sugar                100
body_swelling              100
DIB                        100
bodypain                   100
vomate                     100
fever                      100
sugar_before               100
sugar_after                100
age                        100
no_of_pregnancies          100
no_of_deliveries           100
weight_woman               100
height_woman               100
risk                       100
tt1_No                     100
tt1_Yes                    100
tt2_No                     100
tt2_Yes                    100
urine_No                   100
urine_Yes                  100
urine_albumin_No           100
urine_albumin_Yes          100
urine_sugar_No             100
urine_sugar_Yes            100
body_swelling_No           100
body_swelling_Yes          100
DIB_No                     100
DIB_Yes                    100
bodypain_No                100
bodypain_Yes               100
vomate_No                  100
vomate_Yes                 100
fever_No                   100
fever_Yes                  100
dtype: int64

In [16]:
df_final_vars=df_final.columns.values.tolist()
Y=['risk'] 
X=[i for i in df_final_vars if i not in Y ]

In [17]:
from sklearn import datasets 
from sklearn.feature_selection import RFE 
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
rfe = RFE(model, 12) 
rfe = rfe.fit(df_final[X],df_final[Y] ) 
print(rfe.support_) 
print(rfe.ranking_)

[False False False False  True False False False False  True  True False
 False False False  True False False  True False False False False  True
  True False  True False  True False False False False  True False False
 False  True False  True False False]
[29 30 16 28  1 19 20  7 17  1  1 14 22 23 26  1  8 24  1 12 31 27 21  1
  1  6  1 18  1 11  4  5  9  1 15 10 13  1 25  1  2  3]

C:\Users\Jayesh Joshi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

df.tt1

In [27]:
cols=['bmi', 'tab_folic_acid_quantity', 'stomach_height',  'tt1_No', 'urine_albumin_No', 'DIB_Yes', 'bodypain_No','bodypain_Yes', 'vomate_No', 'vomate_Yes', 'fever_No', 'fever_Yes']
X = df_final[cols]
Y = df_final['risk']

In [30]:
import statsmodels.api as sm 
logit_model=sm.Logit(Y,X) 
result=logit_model.fit() 
print (result.summary2())

Optimization terminated successfully.
         Current function value: 0.657425
         Iterations 6

C:\Users\Jayesh Joshi\Anaconda3\lib\site-packages\statsmodels\base\model.py:1029: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(np.diag(self.cov_params()))
C:\Users\Jayesh Joshi\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Users\Jayesh Joshi\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Users\Jayesh Joshi\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

                                     Results: Logit
=========================================================================================
Model:                        Logit                    No. Iterations:           6.0000
Dependent Variable:           risk                     Pseudo R-squared:         0.042
Date:                         2018-07-22 09:29         AIC:                      151.4850
No. Observations:             100                      BIC:                      177.5367
Df Model:                     9                        Log-Likelihood:           -65.743
Df Residuals:                 90                       LL-Null:                  -68.593
Converged:                    1.0000                   Scale:                    1.0000
-----------------------------------------------------------------------------------------
                         Coef.     Std.Err.      z    P>|z|      [0.025         0.975]
-----------------------------------------------------------------------------------------
bmi                      0.0120        0.0732  0.1640 0.8697        -0.1315        0.1556
tab_folic_acid_quantity -0.1158        0.0815 -1.4204 0.1555        -0.2755        0.0440
stomach_height          -0.0043        0.0485 -0.0885 0.9294        -0.0993        0.0907
tt1_No                  -0.6121        0.4281 -1.4297 0.1528        -1.4513        0.2270
urine_albumin_No        -0.1981        0.4236 -0.4677 0.6400        -1.0285        0.6322
DIB_Yes                  0.2954        0.4211  0.7015 0.4830        -0.5300        1.1208
bodypain_No              0.4664           nan     nan    nan            nan           nan
bodypain_Yes             0.2856           nan     nan    nan            nan           nan
vomate_No                0.2153 11861893.9661  0.0000 1.0000 -23248884.7467 23248885.1773
vomate_Yes               0.5367 11529425.9679  0.0000 1.0000 -22597259.1229 22597260.1963
fever_No                 0.4467  8196759.7230  0.0000 1.0000 -16065353.4003 16065354.2937
fever_Yes                0.3053  8196759.7230  0.0000 1.0000 -16065353.5417 16065354.1523
=========================================================================================

In [34]:
from sklearn import linear_model 
clf = linear_model.LogisticRegression() 
clf.score(X,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [35]:
clf.score(X,Y)

0.65

In [37]:
import numpy as np 
pd.DataFrame(list(zip(X.columns, np.transpose(clf.coef_))))

                          0                       1
0                       bmi   [0.01983200347347011]
1   tab_folic_acid_quantity   [-0.0986775643792128]
2            stomach_height  [0.008662584135647411]
3                    tt1_No   [-0.4722614473043765]
4          urine_albumin_No  [-0.14169647093629525]
5                   DIB_Yes     [0.273827560357478]
6               bodypain_No   [0.21542019197666765]
7              bodypain_Yes   [0.07488905048598142]
8                 vomate_No  [0.002769208015541981]
9                vomate_Yes    [0.2875400344471082]
10                 fever_No   [0.22524480631756094]
11                fever_Yes   [0.06506443614509169]

In [40]:
from sklearn.cross_validation import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

C:\Users\Jayesh Joshi\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [42]:
from sklearn import linear_model 
from sklearn import metrics 
clf1 = linear_model.LogisticRegression() 
clf1.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [43]:
probs = clf1.predict_proba(X_test)

In [44]:
predicted = clf1.predict(X_test)

In [45]:
probs

array([[0.32268367, 0.67731633],
       [0.61456488, 0.38543512],
       [0.55697815, 0.44302185],
       [0.37890834, 0.62109166],
       [0.51829817, 0.48170183],
       [0.5676382 , 0.4323618 ],
       [0.58400547, 0.41599453],
       [0.61978611, 0.38021389],
       [0.54715209, 0.45284791],
       [0.42328265, 0.57671735],
       [0.46814073, 0.53185927],
       [0.3603868 , 0.6396132 ],
       [0.45066414, 0.54933586],
       [0.39815917, 0.60184083],
       [0.36463515, 0.63536485],
       [0.26481299, 0.73518701],
       [0.36955538, 0.63044462],
       [0.40219775, 0.59780225],
       [0.46962442, 0.53037558],
       [0.60471802, 0.39528198],
       [0.45015311, 0.54984689],
       [0.56759613, 0.43240387],
       [0.32721062, 0.67278938],
       [0.34617234, 0.65382766],
       [0.52697595, 0.47302405],
       [0.34200726, 0.65799274],
       [0.33418696, 0.66581304],
       [0.6028411 , 0.3971589 ],
       [0.56945061, 0.43054939],
       [0.29950391, 0.70049609]])

In [46]:
predicted

array([1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

In [48]:
print (metrics.accuracy_score(Y_test, predicted))

0.4666666666666667

In [49]:
from sklearn.cross_validation import cross_val_score 
scores = cross_val_score(linear_model.LogisticRegression(), X, Y, scoring='accuracy', cv=8) 
print (scores) 
print (scores.mean())

[0.53846154 0.23076923 0.30769231 0.38461538 0.5        0.41666667
 0.5        0.5       ]
0.422275641025641